.dropdown-theme {
  position: relative;

  &-parent {
    width: 20rem;
    height: 20rem;
    position: fixed;
    top: 42px;
    right: 3rem;
    z-index: 100;
  }

  &-ul {
    width: 32rem;
    padding: 2rem;
    border-radius: 7px;
    position: absolute;
    background-color: #fffcf1;
    right: 8rem;
    top: 5rem;
  }
  &-title {
    font-size: 1.25rem;
  }

  &-x {
    position: absolute;
    right: 10px;
    top: 6px;
    color: #848484;
  }

  &-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 1rem;
    background-color: hsla(0, 0%, 97%, 0.144);
    border-radius: 7px;

    &:nth-child(3) {
      margin-top: 2rem;
    }

    span {
      font-size: 1.7rem;
      font-weight: 700;
    }
  }

  &.black {
    .dropdown-theme-ul {
      background-color: #0a1929;
      box-shadow: 0 18px 33px rgba(0, 0, 0, 0.31);

      & span {
        color: #ffffff;
      }
    }
    .dropdown-theme-li {
      background-color: rgba(247, 247, 247, 0.05);
    }
    .btn-toggle.on {
      background-color: rgb(1, 8, 19);
    }
  }

  &.white {
    .dropdown-theme-ul {
      background-color: #fafafa;
      box-shadow: 0 18px 33px hsla(0, 0%, 0%, 0.2);

      & span {
        color: #d87093;
      }
    }
    .dropdown-theme-li {
      background-color: rgba(227, 227, 227, 0.26);
    }

    .btn-toggle.on {
      background-color: $color-tertiary;
    }

    .modal-x.modal-x--black {
      background-color: rgba(223, 223, 223, 0.4);
    }

    .modal-x.modal-x--black .modal-x-span::before,
    .modal-x.modal-x--black .modal-x-span::after {
      background-color: #bfbfbf;
    }
  }

  &.blue {
    .dropdown-theme-ul {
      background-color: #fafafa;
      box-shadow: 0 18px 33px hsla(0, 0%, 0%, 0.2);

      & span {
        color: #5b79e1;
      }
    }
    .dropdown-theme-li {
      background-color: hsla(227, 69%, 62%, 0.096);
    }

    .btn-toggle.on {
      background-color: #5b79e1;
    }
  }
}

.logo {
  display: block;
  width: 22.5rem;
  cursor: pointer;
  transition: all 0.3s;

  &--2 {
    @extend .logo;
    width: 8.5rem;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 9rem minmax(40rem, 2fr) 9rem 8rem;
  grid-template-rows:
    9rem minmax(10rem, 1fr) minmax(30rem, 1fr) minmax(2rem, 1fr)
    min-content;
  align-content: center;
  z-index: 999;
  position: relative;

  @include respond(phone) {
    grid-template-columns: 3rem minmax(40rem, 2fr) 3rem;
  }
  @include respond(mini-phone) {
    grid-template-columns: 3rem minmax(20rem, 2fr) 3rem;
  }

  &--construction {
    grid-template-rows: 8rem;
  }

  &__logo-box {
    grid-column: 1 /2;
    grid-row: 1 /2;
    backface-visibility: hidden;
    z-index: 999;
    cursor: pointer;
    transition: all 0.3s;
  }
}

.header-nav {
  width: 100%;
  height: 9rem;
  display: grid;
  align-items: center;
  justify-items: end;
  // grid-template-columns: min-content 1fr min-content 6rem;
  grid-template-columns: min-content 1fr min-content;
  padding: 0 1.5rem;
  grid-column-gap: 2rem;
  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
  }
  position: fixed;
  transition: all 0.2s;
  z-index: 999;

  div:nth-child(2) {
    width: 7rem;
    text-align: right;
    margin-right: 1rem;
  }

  @include respond(phone) {
    grid-column-gap: 0;
  }
}
